{{ define "main" }}
{{ $p := .Params }}
<div class="grid lg:grid-cols-2 gap-4">
	<div class="not-prose flex cursor-default flex-col space-y-4 rounded-lg border border-white p-4">
		<img src="{{ or $p.portraitImage "/portrait.png" }}" alt="Portrait" class="w-full h-auto">
		<div>
			{{ with $p.introTitle }}{{ . | markdownify }}{{ end }}
			{{ with $p.introBody }}{{ . | markdownify }}{{ end }}
		</div>
	</div>
	<div class="grid lg:grid-rows-2 gap-4">
        <div class="not-prose flex cursor-default flex-col space-y-2 rounded-lg border border-white p-6">
			<div class="flex items-center gap-4">
				<img src="{{ or $p.homePicture1 "/contribute.png" }}" alt="{{ or $p.homePictureAltText1 "Heart" }}">
				<div>{{ with $p.homeTitle1 }}{{ . | markdownify }}{{ end }}</div>
			</div>
			<div>{{ with $p.homeText1 }}{{ . | markdownify }}{{ end }}</div>
		</div>
		<div class="not-prose flex cursor-default flex-col space-y-2 rounded-lg border border-white p-6">
		    <div class="flex items-center gap-4">
				<img src="{{ or $p.homePicture2 "/contribute.png" }}" alt="{{ or $p.homePictureAltText2 "Heart" }}">
				<div>{{ with $p.homeTitle2 }}{{ . | markdownify }}{{ end }}</div>
			</div>
			<div>{{ with $p.homeText2 }}{{ . | markdownify }}{{ end }}</div>
		</div>
	</div>
</div>
{{ .Content }}
{{ end }}
